@font-face {
  font-family: PaperCut;
  src: url("../assets/papercuts-2.ttf");
}

body {
	font-family: PaperCut, Arial, sans-serif;
}

.menuButton {
	background-color: #900;
	color: white;
	border: 2px solid black;
	padding: 5px 20px;
}

.menuButton:hover {
	background-color: #B00;
}